.gradle
/build/

out/
build/
run/
classes/
private/.gradle
private/src

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache


# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
.idea/

# gradle
build
.gradle
.gradle/
gradle/
gradlew
gradlew.bat

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt


